*~
*.lock
*.DS_Store
*.swp
*.out
!composer.lock
.vagrant
.idea
vendor/
node_modules/
public/css/meetspire.css
composer.phar
codecept.phar
tests/_output/*
tests/acceptance/AcceptanceTester.php
tests/functional/FunctionalTester.php
tests/unit/UnitTester.php
tests/_data/scenarios